beautifulsoup4==4.12.2   
bs4==0.0.1    
certifi==2023.7.22
charset-normalizer==3.2.0    
curio==1.6      
idna==3.4      
mypy==1.5.1    
mypy-extensions==1.0.0    
pip==22.3     
requests==2.31.0   
setuptools==65.5.0   
soupsieve==2.4.1    
typing_extensions==4.7.1    
urllib3==2.0.4    